
h1{
    font-family: "Open Sans";
}
h2{
    text-align: center;
    margin-top: 10px;
}
footer, nav{
    background-color:black ; color: aliceblue;text-align: center;
     padding: 8px 8px; font-size: 15px;
}
nav{
    color:inherit; width:100%; 
}
a{
    color: white;text-decoration: none; margin: 20px;
}

p{
    width: 250px;
}
.lbox{
    padding: 20px 20px 20px 20px;
    background-color: thistle;
}
.lbox label{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 40px;
}
.submit{
    background-color: rebeccapurple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.gallery {
    margin: 50px;
    border: 2px solid #ccc;
    float: left;
    width: 450px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  